<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
 
<body>
    Welcome<br/>
    <input id="text" type="text"/>
<button onclick="send()">Send</button>
<button onclick="closeWebSocket()">Close</button>
<button onclick="main()">main</button>
   
<div id="message">
       
</div>
 
</body>
<script src="js/jquery.js"></script>
<script src="js/jquery-ui.js"></script>

<script>

    main();


    let npc = createNpc();

    function main() {
        //let str = createGetterAndSetter("Npc", "id,  surname, name,   gender,age,birthday,type,grade,lv,hp,mp,current_hp,current_mp,ad,ap,current_ad,current_ap,crits,speed,current_speed,hpg,mpg,adg,apg,spg,exp");
        //console.log(str);

        /*let npc = new Npc();
        npc.setHp(12);
        console.log(npc.getHp());*/

        eval("console.log('234')");
    }


</script>


</html>